# k8s/values/astronomy-shop.yaml

# 1. Global Overrides (Strictly using envOverrides)
default:
  envOverrides:
    - name: OTEL_COLLECTOR_NAME
      value: "alloy"
    - name: OTEL_EXPORTER_OTLP_ENDPOINT
      value: "http://alloy.observability-prd.svc:4317"
    - name: OTEL_RESOURCE_ATTRIBUTES
      value: "service.namespace=devteam-1,deployment.environment=production"

opentelemetry-collector:
  enabled: false
jaeger:
  enabled: false
prometheus:
  enabled: false
grafana:
  enabled: false
opensearch:
  enabled: false