global:
  topologySpreadConstraints: []
  extraEnvFrom:
    - secretRef:
        name: tempo-s3-credentials

replicas: 1

tempo:
  updateStrategy: RollingUpdate
  resources: {}
  #  requests:
  #    cpu: 1000m
  #    memory: 4Gi
  #  limits:
  #    cpu: 2000m
  #    memory: 6Gi

  multitenancyEnabled: true
  # -- If true, Tempo will report anonymous usage data about the shape of a deployment to Grafana Labs
  reportingEnabled: false
  retention: 24h

  storage:
    trace:
      backend: s3
      s3:
        endpoint: loki-minio.observability-prd.svc:9000
        insecure: true

  ingress:
    enabled: false

  resources: {}
  #  requests:
  #    cpu: 1000m
  #    memory: 4Gi
  #  limits:
  #    cpu: 2000m
  #    memory: 6Gi

