global:
  topologySpreadConstraints: []
  extraEnvFrom:
    - secretRef:
        name: tempo-s3-credentials

replicas: 1

# ---------------------------------------------------------------------
# 1. ENABLE SERVICE PORTS (Critical Step)
# This section tells Helm to expose ports 4317/4318 on the Service object
# ---------------------------------------------------------------------
traces:
  otlp:
    grpc:
      enabled: true
    http:
      enabled: true

tempo:
  updateStrategy: RollingUpdate
  resources: {}
  multitenancyEnabled: true
  reportingEnabled: false
  retention: 24h
  storage:
    trace:
      backend: s3
      s3:
        endpoint: loki-minio.observability-prd.svc:9000
        insecure: true
  ingress:
    enabled: false

# ---------------------------------------------------------------------
# 2. CONFIGURE APPLICATION LISTENERS
# This section tells the Tempo application to listen on those ports
# ---------------------------------------------------------------------
distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: "0.0.0.0:4317"
        http:
          endpoint: "0.0.0.0:4318"